html {
    padding: 24px;
}

h1 {
    color: #fff;
}

h1 span {
    color: rgb(250, 118, 103);
}

h2 {
    color: rgb(250, 118, 103);
}

.dark {
    background-color: #313641;
    color: #fff;
}
.light {
    background-color: #fff;
    color: #313641;
}
